<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603798586276-amcn21c0kqrm4b23jefridktr8tf64ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603798586276-amcn21c0kqrm4b23jefridktr8tf64ua</string>
	<key>API_KEY</key>
	<string>AIzaSyAkph-f9YVcUioyYj3r5-olLAmClHVkopc</string>
	<key>GCM_SENDER_ID</key>
	<string>603798586276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.rose-hulman.sorensms.RosePets</string>
	<key>PROJECT_ID</key>
	<string>rosepets</string>
	<key>STORAGE_BUCKET</key>
	<string>rosepets.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603798586276:ios:ad010dc7fd6004c11b7731</string>
</dict>
</plist>